.buys_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 90%;
    height: 90%;
  text-align: right;
  border: 1px solid #CC9670;
  color: #39495c;
  font-size: 20px;
  border-radius: 10px;
  background-color: #ebebeb;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-bottom: 80px;
  margin-right: 50px;
}

.buys_title {
  margin: 32px;
  color: #39495c;
}

.personality {
  border-left: 1px solid #CC9670;;
}