body {
  backdrop-filter: blur(1px);
  background-color: rgba(0,0,0, 0.4);
}

.container1 {
  display: flex;
  flex-direction: column;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.5);;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  padding: 20px;
  width: 500px;
  border: none;
  border-radius: 10px;
  background-color: #ebebeb;
}

.form_title {
  font-size: 36px;
  font-weight: bold;
  color: #39495c;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px
}

form label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #39495c;
  text-align: right;
  padding-right: 10px;
  width: 100%;
}

form input[type="text"], form input[type="password"],form input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CC9670;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

form button[type="submit"] {
  padding: 10px 20px;
  background-color: #1c7430;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #1c9430;
}

.register_link {
  padding: 10px 20px;
  background-color: seashell;
  color: #1c7430;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register_link:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  width: 400px;
}
