{% extends 'base.html' %}

{% block title %}
صفحه مورد نظر یافت نشد
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

{% block content %}
<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error">خطای 404</h1>
                    <div class="im-sheep">
                        <div class="top">
                            <div class="body"></div>
                            <div class="head">
                                <div class="im-eye one"></div>
                                <div class="im-eye two"></div>
                                <div class="im-ear one"></div>
                                <div class="im-ear two"></div>
                            </div>
                        </div>
                        <div class="im-legs">
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                        </div>
                    </div>
                    <h4>صفحه مورد نظر شما یافت نشد!</h4>
                    <p>احتمالا این صفحه به آدرس دیگری تغییر کرده یا حذف شده است.</p>
                    <a href="{{ url_for('home') }}" class="btn btn-primary btn-round">بازگشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


