{% extends 'base.html' %}
{% from 'macros.html' import field_error %}

{% block title %}
ورود
{% endblock %}

{% block head %}
<style>
  body {
    background-image: url("{{ url_for('static',filename='pics/tradechart.jpg')}}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
</style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 col-md-9 col-xl-7 container justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <form action="{{ url_for('user.login') }}" method="post" class="bg-white rounded p-4">
            {{ form.hidden_tag() }}
    
    
            <div class="form-group row mb-4">
              {{ form.username.label(class="col-sm-4 col-form-label fw-bold") }}
              <div class="col-sm-8">
                {{ form.username(class="form-control") }}
                {{ field_error(form.username) }}
              </div>
            </div>
    
            <div class="form-group row mb-4">
              {{ form.password.label(class="col-sm-4 col-form-label fw-bold") }}
              <div class="col-sm-8">
                {{ form.password(class="form-control") }}
                {{ field_error(form.password) }}
              </div>
            </div>
    
            <div class="form-group row mb-4">
              
              <div class="col-sm-8">
                {{ form.remember_me.label(class=" col-form-label fw-bold") }}
                {{ form.remember_me() }}
              </div>
            </div>
    
    
            <div class="mb-3">
              <div class="text-center">
                <div class="col-auto">{{ form.submit(class="btn btn-success btn-lg") }}</div>
              </div>
              <div class="mt-4 text-center fw-bold">
                <div>آیا تاکنون ثبت نام نکرده اید ؟ <a href="{{url_for('user.register')}}" class="link-primary">ثبت نام</a>
                </div>
              </div>
            </div>
    
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}