<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.rtl.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font.css')}}">

    <title>بازگردانی رمز عبور</title>
</head>

<body>
    <h1>ایمیل بازگردانی رمز عبور</h1>
    <p>{{ user.username }} عزیز</p>

    <p>
        برای بازگردانی رمز عبور خود روی
        <a href="{{ url_for('user.reset_password', token = token, _external = True) }}"><b>این</b></a>
        کلیک کنید.
    </p>

    <br>
    <hr>
    <br>

    <p>همچنین می توانید جهت بازگردانی رمز عبور حساب خود، لینک زیر را در مرورگر خود کپی و اجرا کنید :</p>
    <p>{{ url_for('user.reset_password', token = token, _external = True) }}</p>
    <br>
    اگر درخواست بازگردانی رمز عبور را نداده اید، می توانید این پیام را صرف نظر کنید.
    <br>
</body>

</html>