{% extends 'base.html' %}

{% block title %}
    قوانین
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/rules.css')}}">
{% endblock %}

{% block content %}
    
    <h1 class="rules_title text-right">
        قوانین:
    </h1>
    <div class="rules_container">
        <p>
            تریدرهای مجموعه به منظور جذب سرمایه ملزم هستند طی دو مرحله در حساب&zwnj;های آزمایشی(دمو) توانایی&zwnj;های
            خود را
            اثبات
            کنند، بدین صورت که ابتدا تریدرها 30 تقویمی فرصت دارند مرحله اول چالش را بگذرانند. در این مرحله تریدرها باید
            حداقل 10 روز معاملاتی داشته باشند و حساب 8 درصد رشد نسبت به موجودی اولیه داشته باشد به طوریکه draw-down
            روزانه
            حساب از 6 درصد و کلی از 12 درصد بیشتر نشده باشد. در صورت موفقیت مرحله دوم با 60 روز فرصت به آن&zwnj;ها ارائه
            می&zwnj;شود،
            در این مرحله نیز تریدرهای محترم باید حداقل 10 روز معاملاتی داشته باشند و با قوانین draw-down قبلی، 4 درصد
            حساب
            را رشد دهند.
        </p>
    </div>
    <h1 class="rules_title text-right">
        پیوست های قوانین:
    </h1>
    <div class="rules_container buttons-container">
        <button class="toggle-button">زمان چالش</button>
        <p class="toggle-text" style="display: none;">در مرحله اول 30 روز تقویمی به تریدر فرصت داده می&zwnj;شود و در
            صورت اینکه در پایان 30 روز
            حساب
            در سود باشد ولی به حد تعیین شده 8 درصد نرسیده باشد و از قوانین draw-down تخطی نکرده باشد، 14 روز تقویمی به
            تریدر فرصت اضافه داده خواهد شد تا به حد سود تعیین شده برسد.</p>

        <button class="toggle-button">بازیابی چالش&zwnj;ها</button>
        <p class="toggle-text" style="display: none;">اگر در پایان هر مرحله از چالش&zwnj;ها حساب در سود باشد و سایر
            قوانین draw-down نقض نشده
            باشد،
            تریدر می&zwnj;تواند یک حساب چالش مرحله اول جدید دریافت کند</p>

        <button class="toggle-button">حداقل روزهای معاملاتی</button>
        <p class="toggle-text" style="display: none;">هر تریدر ملزم است حداقل 10 روز معاملاتی در هر مرحله از چالش داشته
            باشد.</p>

        <button class="toggle-button">ابزارهای قابل معامله</button>
        <p class="toggle-text" style="display: none;">تمامی ابزارهای ارائه شده در بروکرهای ارائه شده قابل معامله
            هستند.</p>

        <button class="toggle-button">ترید در زمان اخبار و hold کردن معاملات</button>
        <p class="toggle-text" style="display: none;">در تمامی حساب&zwnj;ها تریدرها امکان ترید در زمان اخبار و نگه داشتن
            معاملات در آخرهفته و
            همچنین
            آخر هر روز کاری را دارند (مجموعه مسئولیتی در قبال دیر اجرا شدن معاملات در زمان اخبار و یا واید شدن اسپردها
            ندارد).</p>

        <button class="toggle-button">عودت وجه</button>
        <p class="toggle-text" style="display: none;">پس از با موفقیت گذراندن مرحله دوم چالش، مبلغ دریافت شده برای آزمون
            به علاوه 5% از سود
            چالش مرحله دوم با اولین برداشت به تریدر محترم داده می&zwnj;شود.</p>

        <button class="toggle-button">تقسیم سود</button>
        <p class="toggle-text" style="display: none;">پس از گذراندن دو مرحله چالش&zwnj;ها تریدرها حساب&zwnj;های مرحله 3
            دریافت می&zwnj;کنند که
            در این حساب&zwnj;ها
            80 درصد از سودهای حاصل شده به تریدرهای محترم پرداخت می&zwnj;شود (قوانین draw-down در این مرحله بدون تغییر
            است ولی
            الزامی برای تعداد روزهای معاملاتی وجود ندارد).</p>

        <button class="toggle-button">قوانین ثبات</button>
        <p class="toggle-text" style="display: none;">اگر تریدر در هر بازه 4 ماهه، در تمام ماه&zwnj;ها در سود باشد و
            همچنین سود کلی بیشتر از 10
            درصد
            باشد، حساب با موجودی 25درصد بیشتر به تریدر ارائه خواهد شد.</p>

        <div class="mt-5 p-2 rounded bg-white"><p class="limit-text">تریدر در هنگام خرید چالش مجاز است از بین بروکرهای
            ارائه
            شده یک مورد را انتخاب کند،
            لازم
            به ذکر است تمام شرایط حساب باید توسط خود تریدر از قبل تست شده باشد. همچنین مجموعه نسبت به واید شدن اسپردها و
            دیر اجرا شدن معاملات مسئولیتی ندارد.
        </p>
            <p class="limit-text">استفاده از ربات و اکسپرت مجاز نیست.</p>
            <p class="limit-text">امکان کپی ترید بین حساب&zwnj;ها مجاز نیست و در صورت مشاهده تمام حساب&zwnj;ها مسدود
                خواهد شد (در صورتی که تریدر در یک حساب کاربری چند حساب داشته باشد، کپی ترید بین این حساب ها مجاز
                است).</p>
            <p class="limit-text">هرگونه تقلب و سواستفاده از شرایط خاص ایجاد شده در بازار که تکرار پذیر نیست و یا
                معامله منصفانه نباشد و یا ترید به گونه قمارگونه غیرمجاز است و در صورت مشاهده حساب مسدود خواهد شد.</p>
        </div>

    </div>
    <script src="{{url_for('static', filename='js/rules.js')}}"></script>
{% endblock %}
